.product {
  &__photos {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;

    @include on-phone {
      gap: 20px;
    }

    @include on-tablet {
      gap: 24px;
    }
  }

  &__photo {
    &-small {
      width: 130px;
      height: 130px;
      transition-duration: 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      @include on-tablet {
        width: 184px;
        height: 187px;
      }

      @include on-desktop {
        width: 324px;
        height: 320px;
      }
    }

    &-large {
      width: 130px;
      height: 130px;
      object-fit: cover;
      transition-duration: 0.3s;

      &:hover {
        transform: scale(1.04);
      }

      @include on-tablet {
        width: 392px;
        height: 187px;
      }

      @include on-desktop {
        width: 672px;
        height: 321px;
      }
    }
  }
}

.details {
  padding-bottom: 120px;
  &__description {
    display: flex;
    flex-direction: column;
    max-width: 278px;

    @include on-tablet {
      max-width: 600px;
    }

    @include on-desktop {
      max-width: 672px;
    }
  }

  &__container {
    gap: 40px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-inputs-background-color;
    width: 278px;
    height: 56px;
    border-radius: 40px;
    text-decoration: none;
    color: $main-inputs-text-color;
    font-weight: 700;
    font-size: 16px;

    @include on-tablet {
      width: 392px;
    }

    @include on-desktop {
      width: 324px;
    }
  }
}
