@import './about-us/about-us-section';
@import './compare-bikes/compare-bike-section';
@import './details/details-section';
@import './contact-us/contact-us-section';

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  background-color: $main-background-color;
  color: $main-text-color;
  box-sizing: border-box;
  line-height: 1.4;
  padding-bottom: 120px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
    padding-bottom: 182px;
  }

  &__header {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    padding-bottom: 48px;

    @include on-tablet {
      font-size: 48px;
      padding-bottom: 64px;
      line-height: 48px;
    }

    @include on-desktop {
      line-height: 64px;
      font-size: 64px;
      padding-bottom: 48px;
    }
  }

  &__button {
    transition-duration: 0.5s;
    &:hover {
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
    }
  }
}
