.footer {
  background-image: url(../img/footer-photo.svg);
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  height: 200px;
  background-position-x: right 25%;
  background-position-y: 50%;
  position: sticky;
  z-index: -1;
  bottom: 0;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
