$header-menu-text-color: rgba(29, 29, 29, 1);
$header-menu-background-color: rgba(194, 194, 194, 1);
$header-menu-text-color-hover: rgb(61, 61, 61);
$main-text-color: rgba(255, 255, 255, 1);
$main-text-color-hover: rgb(108, 107, 107);
$main-inputs-background-color: rgba(255, 255, 255, 1);
$main-inputs-text-color: rgba(29, 29, 29, 1);
$main-background-color: rgba(29, 29, 29, 1);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0;
  padding-bottom: 8px;
}

.caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
