$main-text-color: rgba(255, 255, 255, 1);
$header-menu-text-color: rgba(29, 29, 29, 1);
$header-menu-background-color: rgba(194, 194, 194, 1);
$main-background-color: rgba(29, 29, 29, 1);



@mixin content-padding-inline(){
  padding-inline: 20px;

  @media(min-width: 744px){
    padding-inline: 72px;
  }
}

@mixin content-header-title-font-size {
    font-size: 36px;

  @media(min-width: 744px){
    font-size: 72px;
  }

}
