.contact-us {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include on-tablet {
      width: 549px;
    }

    @include on-desktop {
      width: 1020px;
    }

    @include on-tablet {
      flex-direction: row;
      gap: 24px;
    }

    @include on-desktop {
      gap: 198px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 280px;
  box-sizing: border-box;

  @include on-desktop {
    width: 411px;
  }

  &__name,
  &__email {
    height: 48px;
  }

  &__textarea {
    height: 148px;
    field-sizing: content;
    resize: none;
    border-radius: 16px;
  }

  &__element {
    box-sizing: border-box;
    width: inherit;
    border: 1px solid;
    padding: 14px 16px;
    outline: none;

    &:not(textarea) {
      border-radius: 40px;
    }

    &:last-child {
      padding-block: 14.5px;
      width: inherit;
      height: 56px;
      font-weight: 700;
      font-size: 16px;
    }
  }

  &--spacing {
    & > *:last-child {
      margin-top: 32px;
    }

    & > *:nth-child(n + 2) {
      margin-top: 16px;
    }
  }
}

.additional-inforamation {
  display: flex;

  &__title {
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 8px;
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    transition-duration: 0.2s;

    &:hover {
      color: $main-text-color-hover;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 237px;
    gap: 24px;

    &-element {
      display: flex;
      flex-direction: column;
    }
  }
}
