.menu {
  color: $header-menu-text-color;
  box-sizing: border-box;
  height: 100vh;
  background-color: $header-menu-background-color;
  font-weight: 600;
  text-transform: uppercase;

  &:target {
    pointer-events: all;
    opacity: 1;
  }

  &__top{
    margin-bottom: 24px;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    @include content-padding-inline;
  }

  &__phone-number {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__book-ride {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(29, 29, 29, 1);
    width: fit-content;
    padding-bottom: 8px;
  }
}

.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include content-padding-inline;

  &__logo{
    display: flex;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
}
