.compare-bikes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 92px;

  &__container {
    display: grid;
    gap: 40px;
    max-width: 280px;
    grid-template-columns: 1fr;

    @include on-tablet {
      max-width: 392px;
    }

    @include on-desktop {
      max-width: 1020px;
      grid-template-columns: 324px 324px 324px;
      gap: 24px;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__caption {
    padding-bottom: 16px;
  }

  &__mini-photo {
    display: block;
    width: 280px;
    height: 228px;
    padding-bottom: 32px;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include on-tablet {
      width: 392px;
      height: 316px;
    }

    @include on-desktop {
      width: 324px;
      height: 256px;
    }
  }
}
